[submodule "hammer/src/hammer-vlsi/technology/tsmc180"]
	path = hammer/src/hammer-vlsi/technology/tsmc180
	url = /homes/projects/digital-vlsi-cad-files/tsmc18/hammer_vlsi_technology_tsmc180/
[submodule "hammer-mentor-plugins"]
	path = hammer-mentor-plugins
	url = /homes/projects/digital-vlsi-cad-files/tsmc18/hammer-mentor-plugins/
